En este ejercicio, el alumno tendrá que plantear y resolver un problema utilizando aprendizaje
automático. Se tendrán que llevar a cabo todos los pasos necesarios para la resolución del
problema: planteamiento, diseño, adquisición de los datos, análisis, entrenamiento de
algoritmos, evaluación, discusión de resultados, etc. Todo este proceso se desarrollará en un
cuaderno de Jupyter que conformará la entrega final.
El problema planteado podrá ser inventado o real, y puede estar basado en un problema de
negocio, un artículo científico, una competición, etc. Existen únicamente dos requisitos en
cuanto al caso de uso:
1. Tiene que utilizarse un conjunto de datos para su resolución.
2. La solución debe estar basada en aprendizaje automático, es decir, se debe haber
entrenado al menos un algoritmo.

![nba-logo](images/nba-logo.png)

Una empresa dedicada a las apuestas, necesita un modelo de entrenamiento fiable en el cual poder saber si gana un equipo u otro dependiendo de unos datos de entrada. En este ejercicio se haran pruebas de distintos modelos y se seleccionaran distintas variables para probar su eficacia.

In [223]:
import pandas as pd 
import numpy as np
from IPython.display import display
import zipfile as zp
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as prep
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import precision_score, recall_score, confusion_matrix, mean_absolute_error, mean_absolute_percentage_error, r2_score, accuracy_score, mean_squared_error

Carga de los dataframes

In [224]:
zf = zp.ZipFile('dataframes/nba.zip')
df_games = pd.read_csv(zf.open('games.csv'))
df_games_details = pd.read_csv(zf.open('games_details.csv'))
df_players = pd.read_csv(zf.open('players.csv'))
df_ranking = pd.read_csv(zf.open('ranking.csv'))
df_teams = pd.read_csv(zf.open('teams.csv'))

/tmp/ipykernel_5804/1756342927.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_games_details = pd.read_csv(zf.open('games_details.csv'))

Muestra varias filas de cada dataframe para realizar un primer analisis

In [225]:
print("--------- PARTIDOS ----------")
print("-----------------------------")
display(df_games.head())
print("--------- DETALLES PARTIDOS ----------")
print("--------------------------------------")
display(df_games_details.head())
print("--------- JUGADORES ----------")
print("------------------------------")
display(df_players.head())
print("--------- RANKING LIGA ----------")
print("---------------------------------")
display(df_ranking.head())
print("--------- EQUIPOS ----------")
print("----------------------------")
display(df_teams.head())

--------- PARTIDOS ----------
-----------------------------

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

--------- DETALLES PARTIDOS ----------
--------------------------------------

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

--------- JUGADORES ----------
------------------------------

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

--------- RANKING LIGA ----------
---------------------------------

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN

--------- EQUIPOS ----------
----------------------------

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

Muestra filas y columnas de cada dataframe

In [226]:
print("--------- PARTIDOS ----------")
print("-----------------------------")
display(df_games.shape)
print("--------- DETALLES PARTIDOS ----------")
print("--------------------------------------")
display(df_games_details.shape)
print("--------- JUGADORES ----------")
print("------------------------------")
display(df_players.shape)
print("--------- RANKING LIGA ----------")
print("---------------------------------")
display(df_ranking.shape)
print("--------- EQUIPOS ----------")
print("----------------------------")
display(df_teams.shape)

--------- PARTIDOS ----------
-----------------------------

(26651, 21)

--------- DETALLES PARTIDOS ----------
--------------------------------------

(668628, 29)

--------- JUGADORES ----------
------------------------------

(7228, 4)

--------- RANKING LIGA ----------
---------------------------------

(210342, 13)

--------- EQUIPOS ----------
----------------------------

(30, 14)

Vemos la información

In [227]:
print("--------- PARTIDOS ----------")
print("-----------------------------")
display(df_games.dtypes)
print("--------- DETALLES PARTIDOS ----------")
print("--------------------------------------")
display(df_games_details.dtypes)
print("--------- JUGADORES ----------")
print("------------------------------")
display(df_players.dtypes)
print("--------- RANKING LIGA ----------")
print("---------------------------------")
display(df_ranking.dtypes)
print("--------- EQUIPOS ----------")
print("----------------------------")
display(df_teams.dtypes)

--------- PARTIDOS ----------
-----------------------------

GAME_DATE_EST        object
GAME_ID               int64
GAME_STATUS_TEXT     object
HOME_TEAM_ID          int64
VISITOR_TEAM_ID       int64
SEASON                int64
TEAM_ID_home          int64
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
TEAM_ID_away          int64
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
HOME_TEAM_WINS        int64
dtype: object

--------- DETALLES PARTIDOS ----------
--------------------------------------

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
NICKNAME              object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

--------- JUGADORES ----------
------------------------------

PLAYER_NAME    object
TEAM_ID         int64
PLAYER_ID       int64
SEASON          int64
dtype: object

--------- RANKING LIGA ----------
---------------------------------

TEAM_ID            int64
LEAGUE_ID          int64
SEASON_ID          int64
STANDINGSDATE     object
CONFERENCE        object
TEAM              object
G                  int64
W                  int64
L                  int64
W_PCT            float64
HOME_RECORD       object
ROAD_RECORD       object
RETURNTOPLAY     float64
dtype: object

--------- EQUIPOS ----------
----------------------------

LEAGUE_ID               int64
TEAM_ID                 int64
MIN_YEAR                int64
MAX_YEAR                int64
ABBREVIATION           object
NICKNAME               object
YEARFOUNDED             int64
CITY                   object
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

Ver si hay nulos en los distintos dataframes

In [228]:
print("--------- PARTIDOS ----------")
print("-----------------------------")
display(df_games.isnull().sum())
display(df_games[df_games.isna().any(axis=1)])

--------- PARTIDOS ----------
-----------------------------

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
19175,2003-10-24,10300116,Final,1610612753,1610612762,2003,1610612753,NaN,NaN,NaN,...,NaN,NaN,1610612762,NaN,NaN,NaN,NaN,NaN,NaN,0
19176,2003-10-24,10300108,Final,1610612737,1610612764,2003,1610612737,NaN,NaN,NaN,...,NaN,NaN,1610612764,NaN,NaN,NaN,NaN,NaN,NaN,0
19177,2003-10-24,10300109,Final,1610612738,1610612751,2003,1610612738,NaN,NaN,NaN,...,NaN,NaN,1610612751,NaN,NaN,NaN,NaN,NaN,NaN,0
19178,2003-10-24,10300113,Final,1610612759,1610612745,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,0
19179,2003-10-24,10300112,Final,1610612749,1610612765,2003,1610612749,NaN,NaN,NaN,...,NaN,NaN,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19269,2003-10-09,10300019,Final,1610612743,1610612756,2003,1610612743,NaN,NaN,NaN,...,NaN,NaN,1610612756,NaN,NaN,NaN,NaN,NaN,NaN,0
19270,2003-10-09,10300022,Final,1610612757,1610612758,2003,1610612757,NaN,NaN,NaN,...,NaN,NaN,1610612758,NaN,NaN,NaN,NaN,NaN,NaN,0
19271,2003-10-08,10300013,Final,1610612759,1610612763,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,0
19278,2003-10-08,10300015,Final,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0
19279,2003-10-07,10300006,Final,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0

In [229]:
print("--------- DETALLES PARTIDOS ----------")
print("--------------------------------------")
display(df_games_details.isnull().sum())
display(df_games_details[df_games_details.isna().any(axis=1)])

--------- DETALLES PARTIDOS ----------
--------------------------------------

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       412863
COMMENT              558939
MIN                  109690
FGM                  109690
FGA                  109690
FG_PCT               109690
FG3M                 109690
FG3A                 109690
FG3_PCT              109690
FTM                  109690
FTA                  109690
FT_PCT               109690
OREB                 109690
DREB                 109690
REB                  109690
AST                  109690
STL                  109690
BLK                  109690
TO                   109690
PF                   109690
PTS                  109690
PLUS_MINUS           133351
dtype: int64

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [230]:
print("--------- JUGADORES ----------")
print("------------------------------")
display(df_players.isnull().sum())
display(df_players[df_players.isna().any(axis=1)])

--------- JUGADORES ----------
------------------------------

PLAYER_NAME    0
TEAM_ID        0
PLAYER_ID      0
SEASON         0
dtype: int64

Empty DataFrame
Columns: [PLAYER_NAME, TEAM_ID, PLAYER_ID, SEASON]
Index: []

In [231]:
print("--------- RANKING LIGA ----------")
print("---------------------------------")
display(df_ranking.isnull().sum())
display(df_ranking[df_ranking.isna().any(axis=1)])

--------- RANKING LIGA ----------
---------------------------------

TEAM_ID               0
LEAGUE_ID             0
SEASON_ID             0
STANDINGSDATE         0
CONFERENCE            0
TEAM                  0
G                     0
W                     0
L                     0
W_PCT                 0
HOME_RECORD           0
ROAD_RECORD           0
RETURNTOPLAY     206352
dtype: int64

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,0,22013,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29,NaN
210338,1610612738,0,22013,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32,NaN
210339,1610612753,0,22013,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37,NaN
210340,1610612755,0,22013,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32,NaN
210341,1610612749,0,22013,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36,NaN

In [232]:
print("--------- EQUIPOS ----------")
print("----------------------------")
display(df_teams.isnull().sum())
display(df_teams[df_teams.isna().any(axis=1)])

--------- EQUIPOS ----------
----------------------------

LEAGUE_ID             0
TEAM_ID               0
MIN_YEAR              0
MAX_YEAR              0
ABBREVIATION          0
NICKNAME              0
YEARFOUNDED           0
CITY                  0
ARENA                 0
ARENACAPACITY         4
OWNER                 0
GENERALMANAGER        0
HEADCOACH             0
DLEAGUEAFFILIATION    0
dtype: int64

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
12,0,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
16,0,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,0,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns

En el df de partidos podemos ver que hay NaN en el 2003, borramos todas las filas con partidos anteriores al 2010 y comprobamos si se han quedado NaN

In [233]:
df_games = df_games.loc[df_games['GAME_DATE_EST'] >= "2004-01-01"].reset_index(drop=True)

In [234]:
df_games.isnull().sum()

GAME_DATE_EST       0
GAME_ID             0
GAME_STATUS_TEXT    0
HOME_TEAM_ID        0
VISITOR_TEAM_ID     0
SEASON              0
TEAM_ID_home        0
PTS_home            0
FG_PCT_home         0
FT_PCT_home         0
FG3_PCT_home        0
AST_home            0
REB_home            0
TEAM_ID_away        0
PTS_away            0
FG_PCT_away         0
FT_PCT_away         0
FG3_PCT_away        0
AST_away            0
REB_away            0
HOME_TEAM_WINS      0
dtype: int64

Para saber que equipo es, podríamos fusionar algunos datos del dataframe de partidos con el de equipos de alguna manera

In [235]:
display(df_games.columns)
display(df_teams.columns)

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

Vemos como podemos sustituir los IDS por los nombres de los equipos

In [236]:
df_teams = df_teams[['TEAM_ID', 'NICKNAME']]

# Reemplaza HOME_TEAM_ID por los nombres del dataframe teams
nombres_local = df_teams.copy()
nombres_local.columns = ['HOME_TEAM_ID', 'NICKNAME']
# Se unen el ID de lequipo por el nickname
result_1 = pd.merge(df_games['HOME_TEAM_ID'], nombres_local, how ="left", on="HOME_TEAM_ID")  
df_games['HOME_TEAM_ID'] = result_1['NICKNAME']

Vemos como se ha cambiado el HOME_TEAM_ID por el nombre del equipo, haremos lo mismo con el visitante

In [237]:
df_games.head(20)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,Pelicans,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,Jazz,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,Cavaliers,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,76ers,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,Hawks,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
5,2022-12-21,22200469,Final,Celtics,1610612754,2022,1610612738,112.0,0.386,0.840,...,26.0,62.0,1610612754,117.0,0.469,0.778,0.462,27.0,47.0,0
6,2022-12-21,22200470,Final,Nets,1610612744,2022,1610612751,143.0,0.643,0.875,...,42.0,32.0,1610612744,113.0,0.494,0.760,0.364,32.0,36.0,1
7,2022-12-21,22200471,Final,Knicks,1610612761,2022,1610612752,106.0,0.553,0.611,...,25.0,38.0,1610612761,113.0,0.447,0.909,0.265,17.0,38.0,0
8,2022-12-21,22200472,Final,Rockets,1610612753,2022,1610612745,110.0,0.466,0.647,...,22.0,49.0,1610612753,116.0,0.451,0.697,0.297,19.0,45.0,0
9,2022-12-21,22200473,Final,Timberwolves,1610612742,2022,1610612750,99.0,0.494,0.700,...,23.0,39.0,1610612742,104.0,0.453,0.852,0.333,17.0,39.0,0
10,2022-12-21,22200474,Final,Thunder,1610612757,2022,1610612760,101.0,0.468,0.840,...,19.0,37.0,1610612757,98.0,0.494,0.667,0.389,29.0,36.0,1
11,2022-12-21,22200475,Final,Kings,1610612747,2022,1610612758,134.0,0.505,0.750,...,29.0,46.0,1610612747,120.0,0.500,0.833,0.458,25.0,39.0,1
12,2022-12-21,22200476,Final,Clippers,1610612766,2022,1610612746,126.0,0.506,0.913,...,29.0,48.0,1610612766,105.0,0.402,0.759,0.290,25.0,40.0,1
13,2022-12-20,22200461,Final,Pistons,1610612762,2022,1610612765,111.0,0.506,0.741,...,22.0,43.0,1610612762,126.0,0.505,0.632,0.435,27.0,43.0,0
14,2022-12-20,22200462,Final,Heat,1610612741,2022,1610612748,103.0,0.469,0.706,...,26.0,35.0,1610612741,113.0,0.548,0.833,0.419,24.0,39.0,0
15,2022-12-20,22200463,Final,Knicks,1610612744,2022,1610612752,132.0,0.517,0.781,...,27.0,47.0,1610612744,94.0,0.473,0.923,0.343,23.0,29.0,1
16,2022-12-20,22200464,Final,Suns,1610612764,2022,1610612756,110.0,0.461,0.789,...,26.0,44.0,1610612764,113.0,0.475,0.703,0.407,22.0,41.0,0
17,2022-12-20,22200465,Final,Nuggets,1610612763,2022,1610612743,105.0,0.449,0.600,...,28.0,48.0,1610612763,91.0,0.444,0.667,0.192,25.0,42.0,1
18,2022-12-19,22200452,Final,Cavaliers,1610612762,2022,1610612739,122.0,0.614,0.808,...,24.0,45.0,1610612762,99.0,0.387,0.739,0.294,19.0,35.0,1
19,2022-12-19,22200453,Final,76ers,1610612761,2022,1610612755,104.0,0.400,0.926,...,22.0,41.0,1610612761,101.0,0.420,0.800,0.275,24.0,50.0,1

Haremos lo mismo con los equipos visitantes

In [238]:
# Reemplaza VISITOR_TEAM_ID por los nombres del dataframe teams
nombres_visitante = df_teams.copy()
nombres_visitante.columns = ['VISITOR_TEAM_ID', 'NICKNAME']
# Se unen el ID del equipo por el nickname
result_2 = pd.merge(df_games['VISITOR_TEAM_ID'], nombres_visitante, how ="left", on="VISITOR_TEAM_ID")  
df_games['VISITOR_TEAM_ID'] = result_2['NICKNAME']

In [239]:
df_games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,Pelicans,Spurs,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,Jazz,Wizards,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,Cavaliers,Bucks,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,76ers,Pistons,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,Hawks,Bulls,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

Exploración de los valores únicos de las variables del dataframe de partidos

In [240]:
for column in df_games.columns:
    print(df_games[column].unique())

['2022-12-22' '2022-12-21' '2022-12-20' ... '2014-10-06' '2014-10-05'
 '2014-10-04']
[22200477 22200478 22200466 ... 11400005 11400002 11400001]
['Final']
['Pelicans' 'Jazz' 'Cavaliers' '76ers' 'Hawks' 'Celtics' 'Nets' 'Knicks'
 'Rockets' 'Timberwolves' 'Thunder' 'Kings' 'Clippers' 'Pistons' 'Heat'
 'Suns' 'Nuggets' 'Pacers' 'Raptors' 'Lakers' 'Spurs' 'Bucks' 'Hornets'
 'Bulls' 'Mavericks' 'Grizzlies' 'Magic' 'Wizards' 'Trail Blazers'
 'Warriors']
['Spurs' 'Wizards' 'Bucks' 'Pistons' 'Bulls' 'Pacers' 'Warriors' 'Raptors'
 'Magic' 'Mavericks' 'Trail Blazers' 'Lakers' 'Hornets' 'Jazz' 'Grizzlies'
 'Knicks' 'Nets' 'Heat' 'Pelicans' 'Hawks' 'Kings' 'Timberwolves'
 'Nuggets' 'Suns' 'Cavaliers' 'Celtics' 'Thunder' 'Clippers' 'Rockets'
 '76ers']
[2022 2021 2020 2019 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004
 2003 2018 2017 2016 2015 2014]
[1610612740 1610612762 1610612739 1610612755 1610612737 1610612738
 1610612751 1610612752 1610612745 1610612750 1610612760 1610612758
 1610612746 1610612765 1610612748 1610612756 1610612743 1610612754
 1610612761 1610612747 1610612759 1610612749 1610612766 1610612741
 1610612742 1610612763 1610612753 1610612764 1610612757 1610612744]
[126. 120. 114. 113. 108. 112. 143. 106. 110.  99. 101. 134. 111. 103.
 132. 105. 122. 104. 116. 119. 123. 130.  92. 121. 150. 102. 100.  95.
 115. 118. 109.  91. 142. 125. 135.  90. 141. 128.  82. 133. 129. 117.
 131.  97. 107. 144. 124.  98.  96. 139. 137. 140.  94. 138. 127. 153.
  88.  86.  80.  75.  87.  89.  81.  93.  77.  83. 136.  85.  84. 152.
 146.  78.  79.  59. 147. 154. 145.  73. 149.  68.  76. 151.  63.  69.
  67.  74.  72.  65.  71.  70.  62.  64.  66. 168.  36. 157.  60. 158.
 148. 161.]
[0.484 0.488 0.482 0.441 0.429 0.386 0.643 0.553 0.466 0.494 0.468 0.505
 0.506 0.469 0.517 0.461 0.449 0.614 0.4   0.511 0.426 0.472 0.424 0.455
 0.495 0.474 0.348 0.433 0.477 0.421 0.655 0.457 0.5   0.43  0.533 0.413
 0.47  0.398 0.459 0.417 0.556 0.527 0.549 0.378 0.412 0.548 0.464 0.392
 0.651 0.382 0.512 0.42  0.476 0.473 0.354 0.602 0.419 0.539 0.489 0.581
 0.462 0.554 0.48  0.44  0.481 0.435 0.471 0.635 0.547 0.518 0.592 0.542
 0.57  0.446 0.443 0.479 0.535 0.516 0.513 0.366 0.431 0.447 0.467 0.524
 0.404 0.437 0.405 0.407 0.465 0.355 0.391 0.56  0.528 0.529 0.452 0.557
 0.46  0.537 0.532 0.388 0.483 0.543 0.608 0.523 0.53  0.453 0.571 0.591
 0.448 0.568 0.526 0.55  0.456 0.558 0.432 0.425 0.438 0.463 0.38  0.515
 0.544 0.478 0.385 0.536 0.356 0.434 0.451 0.6   0.538 0.427 0.337 0.597
 0.551 0.387 0.578 0.416 0.304 0.439 0.519 0.596 0.409 0.458 0.415 0.534
 0.559 0.418 0.493 0.374 0.45  0.525 0.444 0.372 0.422 0.613 0.609 0.373
 0.361 0.51  0.411 0.394 0.486 0.384 0.414 0.522 0.65  0.436 0.579 0.475
 0.349 0.442 0.565 0.454 0.49  0.351 0.402 0.389 0.561 0.393 0.408 0.34
 0.344 0.312 0.383 0.546 0.369 0.319 0.397 0.379 0.624 0.645 0.396 0.333
 0.562 0.52  0.521 0.642 0.541 0.589 0.507 0.583 0.615 0.353 0.403 0.423
 0.563 0.607 0.593 0.595 0.61  0.584 0.36  0.485 0.487 0.367 0.375 0.569
 0.323 0.314 0.54  0.566 0.545 0.39  0.288 0.632 0.567 0.352 0.358 0.327
 0.573 0.531 0.514 0.377 0.41  0.338 0.627 0.406 0.37  0.347 0.619 0.381
 0.552 0.345 0.625 0.376 0.365 0.603 0.346 0.321 0.371 0.653 0.326 0.395
 0.309 0.274 0.364 0.325 0.383 0.438 0.566 0.443 0.393 0.571 0.58  0.464
 0.448 0.621 0.388 0.631 0.459 0.357 0.612 0.453 0.342 0.343 0.463 0.538
 0.404 0.403 0.454 0.468 0.553 0.558 0.458 0.398 0.554 0.445 0.543 0.564
 0.427 0.432 0.394 0.575 0.654 0.277 0.533 0.586 0.574 0.598 0.359 0.372
 0.437 0.559 0.549 0.378 0.548 0.298 0.368 0.333 0.617 0.576 0.363 0.295
 0.343 0.508 0.323 0.592 0.35  0.362 0.588 0.269 0.3   0.577 0.585 0.633
 0.329 0.59  0.605 0.671 0.582 0.367 0.628 0.492 0.338 0.318 0.634 0.293
 0.313 0.33  0.341 0.257 0.311 0.611 0.303 0.316 0.32  0.64  0.328 0.63
 0.31  0.301 0.289 0.587 0.641 0.567 0.62  0.291 0.315 0.658 0.644 0.606
 0.308 0.623 0.648 0.646 0.622 0.675 0.279 0.324 0.618 0.317 0.278 0.594
 0.604 0.636 0.662 0.652 0.306 0.296 0.284 0.297 0.339 0.283 0.616 0.29
 0.307 0.629 0.275 0.305 0.322 0.626 0.299 0.509 0.496 0.639 0.282 0.286
 0.651 0.684 0.302 0.294 0.667]
[0.926 0.952 0.786 0.909 1.    0.84  0.875 0.611 0.647 0.7   0.75  0.913
 0.741 0.706 0.781 0.789 0.6   0.808 0.9   0.645 0.833 0.708 0.865 0.548
 0.857 0.652 0.853 0.773 0.813 0.727 0.615 0.758 0.591 0.69  0.818 0.714
 0.684 0.806 0.824 0.862 0.81  0.846 0.783 0.811 0.793 0.852 0.864 0.739
 0.579 0.731 0.829 0.778 0.912 0.667 0.733 0.682 0.688 0.762 0.889 0.917
 0.895 0.692 0.8   0.893 0.85  0.905 0.531 0.417 0.867 0.903 0.882 0.842
 0.765 0.769 0.897 0.722 0.885 0.72  0.5   0.643 0.737 0.583 0.88  0.87
 0.923 0.65  0.63  0.4   0.774 0.759 0.947 0.538 0.76  0.767 0.815 0.826
 0.654 0.559 0.619 0.957 0.633 0.64  0.886 0.571 0.844 0.526 0.725 0.55
 0.792 0.556 0.721 0.828 0.613 0.78  0.938 0.879 0.524 0.632 0.871 0.931
 0.704 0.95  0.696 0.839 0.821 0.717 0.533 0.962 0.825 0.724 0.655 0.794
 0.816 0.625 0.742 0.581 0.577 0.955 0.636 0.861 0.719 0.609 0.676 0.735
 0.784 0.944 0.542 0.649 0.71  0.963 0.757 0.621 0.545 0.929 0.586 0.941
 0.775 0.939 0.744 0.622 0.914 0.795 0.677 0.674 0.593 0.755 0.958 0.529
 0.565 0.848 0.933 0.698 0.68  0.707 0.763 0.791 0.906 0.629 0.711 0.658
 0.628 0.788 0.385 0.679 0.607 0.697 0.656 0.588 0.935 0.514 0.705 0.686
 0.854 0.516 0.444 0.567 0.92  0.563 0.964 0.756 0.308 0.474 0.476 0.56
 0.694 0.595 0.605 0.739 0.697 0.606 0.844 0.793 0.714 0.838 0.594 0.786
 0.842 0.96  0.389 0.692 0.781 0.806 0.656 0.45  0.478 0.676 0.808 0.783
 0.824 0.864 0.571 0.438 0.719 0.723 0.738 0.333 0.576 0.724 0.536 0.704
 0.525 0.744 0.771 0.829 0.657 0.788 0.839 0.886 0.822 0.811 0.48  0.429
 0.766 0.333 0.614 0.577 0.854 0.644 0.634 0.743 0.73  0.538 0.827 0.97
 0.868 0.481 0.694 0.841 0.805 0.86  0.881 0.462 0.435 0.639 0.703 0.552
 0.533 0.756 0.675 0.658 0.618 0.686 0.448 0.745 0.685 0.804 0.872 0.553
 0.66  0.568 0.718 0.972 0.641 0.59  0.52  0.578 0.943 0.617 0.635 0.567
 0.522 0.559 0.732 0.566 0.791 0.809 0.659 0.375 0.902 0.467 0.548 0.966
 0.357 0.971 0.535 0.925 0.455 0.541 0.519 0.387 0.683 0.407 0.976 0.364
 0.433 0.949 0.884 0.471 0.787 0.608 0.543 0.391 0.878 0.561 0.892 0.946
 0.83  0.837 0.729 0.707 0.761 0.646 0.575 0.412 0.911 0.653 0.782 0.919
 0.907 0.843 0.61  0.904 0.814 0.968 0.74  0.927 0.273 0.564 0.651 0.421
 0.512 0.717 0.457 0.796 0.517 0.485 0.689 0.318 0.436 0.558 0.405 0.604
 0.42  0.382 0.648 0.528 0.363 0.361 0.596 0.537 0.836 0.381 0.921 0.754
 0.681 0.873 0.484 0.3   0.316 0.851 0.638 0.286 0.472 0.585 0.967 0.458
 0.863 0.776 0.143 0.483 0.969 0.409 0.313 0.486 0.587 0.898 0.915 0.167
 0.513 0.734]
[0.382 0.457 0.313 0.297 0.378 0.317 0.636 0.423 0.395 0.267 0.333 0.362
 0.469 0.36  0.341 0.425 0.406 0.37  0.577 0.357 0.375 0.208 0.387 0.4
 0.355 0.513 0.364 0.255 0.342 0.394 0.535 0.407 0.414 0.194 0.103 0.474
 0.422 0.366 0.349 0.345 0.239 0.452 0.419 0.273 0.383 0.41  0.444 0.286
 0.321 0.379 0.25  0.304 0.343 0.319 0.276 0.282 0.32  0.229 0.481 0.222
 0.477 0.471 0.559 0.308 0.231 0.439 0.385 0.433 0.45  0.281 0.296 0.295
 0.325 0.361 0.472 0.279 0.435 0.368 0.424 0.348 0.429 0.259 0.353 0.359
 0.488 0.346 0.371 0.172 0.256 0.302 0.323 0.31  0.344 0.381 0.367 0.459
 0.441 0.517 0.489 0.2   0.531 0.455 0.438 0.372 0.486 0.484 0.462 0.388
 0.188 0.278 0.3   0.5   0.257 0.432 0.269 0.241 0.182 0.261 0.39  0.316
 0.294 0.373 0.263 0.526 0.283 0.483 0.298 0.436 0.351 0.28  0.525 0.326
 0.464 0.238 0.214 0.516 0.35  0.219 0.515 0.218 0.389 0.27  0.207 0.511
 0.475 0.174 0.421 0.442 0.417 0.212 0.391 0.412 0.324 0.156 0.48  0.458
 0.268 0.447 0.242 0.277 0.235 0.29  0.528 0.289 0.275 0.404 0.46  0.314
 0.303 0.533 0.588 0.265 0.133 0.476 0.258 0.22  0.34  0.206 0.386 0.356
 0.293 0.288 0.192 0.393 0.262 0.405 0.392 0.216 0.467 0.536 0.318 0.179
 0.224 0.209 0.233 0.468 0.171 0.225 0.465 0.377 0.243 0.485 0.52  0.311
 0.226 0.545 0.397 0.556 0.514 0.542 0.548 0.523 0.415 0.292 0.44  0.408
 0.571 0.15  0.217 0.463 0.487 0.354 0.306 0.136 0.63  0.167 0.236 0.154
 0.147 0.244 0.583 0.111 0.347 0.237 0.575 0.529 0.409 0.479 0.095 0.184
 0.478 0.185 0.449 0.56  0.196 0.426 0.413 0.227 0.327 0.121 0.563 0.524
 0.17  0.24  0.205 0.271 0.42  0.158 0.541 0.161 0.512 0.684 0.593 0.394
 0.333 0.323 0.533 0.438 0.135 0.162 0.378 0.586 0.343 0.393 0.404 0.448
 0.229 0.211 0.543 0.224 0.194 0.464 0.458 0.383 0.204 0.519 0.396 0.148
 0.459 0.463 0.645 0.152 0.473 0.234 0.559 0.418 0.615 0.189 0.432 0.367
 0.16  0.468 0.522 0.089 0.579 0.548 0.509 0.532 0.167 0.269 0.552 0.643
 0.277 0.219 0.621 0.175 0.38  0.189 0.178 0.72  0.629 0.339 0.537 0.372
 0.6   0.448 0.227 0.143 0.13  0.591 0.565 0.118 0.571 0.279 0.538 0.26
 0.138 0.125 0.176 0.067 0.611 0.19  0.625 0.55  0.577 0.077 0.704 0.1
 0.688 0.105 0.667 0.692 0.091 0.    0.083 0.739 0.594 0.609 0.056 0.059
 0.632 0.714 0.647 0.063 0.607 0.75  0.65  0.818 0.64  0.053 0.071 0.652
 0.833 0.706 0.619 0.8   0.12  0.889 0.05  0.786 0.769 0.7   0.129 0.733
 0.722 0.682 0.727 0.045 0.875 1.    0.291 0.307 0.285 0.824 0.778 0.087
 0.618 0.048 0.142 0.09  0.21  0.272 0.23  0.076 0.193 0.352 0.315 0.153
 0.312 0.117 0.68  0.49  0.266 0.213 0.195 0.633 0.119 0.339 0.329 0.842
 0.576 0.606 0.521 0.159 0.388 0.094 0.568 0.115 0.107 0.59  0.567 0.585
 0.086 0.595 0.08  0.613]
[25. 16. 22. 27. 26. 42. 23. 19. 29. 28. 24. 30. 20. 21. 38. 33. 17. 31.
 34. 36. 32. 18. 15. 40. 14. 35. 39. 37. 41. 11. 12. 13. 10. 50. 43.  9.
  8.  7.  6. 44. 45. 47.]
[46. 40. 37. 49. 47. 62. 32. 38. 39. 48. 43. 35. 44. 45. 41. 51. 42. 54.
 55. 53. 34. 56. 52. 31. 33. 67. 59. 50. 30. 36. 57. 29. 58. 26. 60. 24.
 64. 66. 61. 70. 28. 63. 68. 65. 27. 25. 23. 17. 22. 21. 69. 18. 71. 15.
 72.]
[1610612759 1610612764 1610612749 1610612765 1610612741 1610612754
 1610612744 1610612761 1610612753 1610612742 1610612757 1610612747
 1610612766 1610612762 1610612763 1610612752 1610612751 1610612748
 1610612740 1610612737 1610612758 1610612750 1610612743 1610612756
 1610612739 1610612738 1610612760 1610612746 1610612745 1610612755]
[117. 112. 106.  93. 110. 113. 116. 104.  98. 120. 105. 126.  94.  91.
  99. 101. 125. 124. 128. 121.  95. 109. 115. 111. 107.  97. 114. 122.
 119. 108. 129. 141.  88. 103. 100.  87.  92. 136. 102. 118.  89. 123.
 133.  81. 130. 135.  96.  85. 140. 127. 137. 143. 132. 131.  83. 145.
 134.  82.  90.  86.  80.  79.  77. 139. 146.  78. 153. 150. 149. 142.
 138. 157. 158.  75.  84.  74. 152. 154. 147. 144.  76.  69.  71.  70.
  72.  66.  73.  62.  63.  68.  61.  58.  67.  65.  64.  56.  60.  57.
  59. 151.  54.  33. 161. 159. 168. 148.]
[0.478 0.561 0.47  0.392 0.5   0.469 0.494 0.447 0.451 0.453 0.402 0.505
 0.548 0.473 0.475 0.444 0.387 0.42  0.474 0.554 0.408 0.556 0.448 0.516
 0.384 0.55  0.531 0.523 0.427 0.463 0.429 0.512 0.409 0.471 0.378 0.584
 0.547 0.524 0.462 0.525 0.415 0.605 0.438 0.481 0.443 0.372 0.465 0.484
 0.495 0.43  0.526 0.527 0.419 0.413 0.4   0.32  0.398 0.442 0.386 0.356
 0.477 0.489 0.434 0.467 0.48  0.367 0.538 0.52  0.426 0.458 0.456 0.437
 0.459 0.542 0.441 0.532 0.424 0.53  0.449 0.411 0.534 0.376 0.425 0.488
 0.37  0.389 0.485 0.44  0.506 0.521 0.432 0.349 0.517 0.487 0.482 0.529
 0.435 0.535 0.416 0.543 0.522 0.433 0.446 0.563 0.461 0.41  0.575 0.383
 0.537 0.649 0.513 0.479 0.58  0.476 0.414 0.391 0.436 0.61  0.472 0.549
 0.573 0.511 0.39  0.528 0.388 0.357 0.422 0.345 0.375 0.545 0.457 0.518
 0.36  0.625 0.396 0.394 0.6   0.45  0.468 0.327 0.533 0.322 0.51  0.455
 0.407 0.393 0.38  0.493 0.515 0.536 0.577 0.418 0.464 0.404 0.568 0.567
 0.395 0.54  0.439 0.483 0.565 0.519 0.405 0.49  0.379 0.507 0.358 0.341
 0.371 0.423 0.403 0.466 0.365 0.397 0.353 0.347 0.323 0.355 0.412 0.333
 0.354 0.417 0.368 0.351 0.452 0.421 0.377 0.514 0.373 0.593 0.609 0.544
 0.551 0.564 0.326 0.558 0.602 0.578 0.406 0.598 0.56  0.277 0.454 0.348
 0.591 0.385 0.486 0.541 0.344 0.305 0.366 0.566 0.557 0.546 0.359 0.431
 0.581 0.574 0.352 0.374 0.46  0.586 0.539 0.337 0.509 0.343 0.57  0.553
 0.571 0.362 0.382 0.329 0.687 0.34  0.63  0.603 0.295 0.381 0.298 0.317
 0.582 0.579 0.369 0.585 0.364 0.394 0.553 0.464 0.398 0.533 0.383 0.438
 0.543 0.459 0.443 0.538 0.445 0.621 0.404 0.576 0.453 0.458 0.655 0.314
 0.333 0.64  0.388 0.549 0.378 0.567 0.548 0.454 0.448 0.616 0.468 0.329
 0.393 0.463 0.361 0.372 0.437 0.554 0.427 0.432 0.559 0.558 0.566 0.628
 0.363 0.59  0.571 0.615 0.552 0.582 0.367 0.343 0.315 0.569 0.607 0.613
 0.612 0.33  0.346 0.674 0.308 0.594 0.304 0.491 0.403 0.577 0.562 0.321
 0.597 0.35  0.623 0.27  0.282 0.636 0.288 0.325 0.606 0.323 0.294 0.318
 0.272 0.646 0.589 0.307 0.274 0.291 0.324 0.587 0.338 0.293 0.492 0.342
 0.638 0.303 0.301 0.629 0.588 0.595 0.278 0.313 0.246 0.256 0.31  0.296
 0.311 0.508 0.622 0.299 0.583 0.319 0.641 0.657 0.269 0.627 0.292 0.302
 0.289 0.592 0.658 0.316 0.632 0.284 0.67  0.271 0.286 0.29  0.259 0.306
 0.328 0.312 0.608 0.596 0.28  0.279 0.287 0.268 0.267 0.297 0.275 0.244
 0.309 0.273 0.624 0.614 0.667 0.634 0.618 0.653 0.645]
[0.815 0.765 0.682 0.735 0.773 0.778 0.76  0.909 0.697 0.852 0.667 0.833
 0.759 0.632 0.923 0.703 0.739 0.8   0.92  0.789 0.806 0.81  0.824 0.895
 0.767 0.913 0.846 0.75  0.792 0.696 0.737 0.5   0.784 0.769 0.828 0.857
 0.783 0.719 0.56  0.821 0.862 0.889 0.85  0.706 0.565 0.733 0.947 0.688
 0.952 0.941 0.526 0.692 0.657 0.868 0.867 0.826 0.774 0.938 0.731 0.818
 0.875 0.625 0.741 0.905 0.522 0.914 0.69  0.87  0.813 0.871 0.958 0.714
 0.611 0.9   0.724 0.727 0.842 0.786 0.808 0.743 0.538 0.722 0.882 0.962
 0.791 0.483 1.    0.676 0.6   0.684 0.762 0.591 0.88  0.788 0.848 0.742
 0.64  0.865 0.944 0.745 0.885 0.619 0.579 0.805 0.7   0.926 0.829 0.917
 0.548 0.864 0.3   0.781 0.381 0.929 0.839 0.654 0.647 0.68  0.964 0.793
 0.771 0.756 0.775 0.95  0.633 0.72  0.65  0.677 0.84  0.571 0.963 0.563
 0.933 0.96  0.704 0.708 0.636 0.594 0.643 0.645 0.618 0.711 0.844 0.545
 0.655 0.73  0.588 0.652 0.893 0.957 0.794 0.52  0.615 0.894 0.556 0.763
 0.861 0.795 0.586 0.755 0.853 0.583 0.955 0.931 0.757 0.529 0.886 0.474
 0.63  0.758 0.45  0.725 0.609 0.421 0.679 0.606 0.462 0.686 0.621 0.607
 0.524 0.55  0.4   0.536 0.897 0.656 0.71  0.375 0.577 0.935 0.639 0.417
 0.517 0.641 0.444 0.967 0.783 0.542 0.686 0.714 0.854 0.806 0.786 0.842
 0.455 0.837 0.744 0.816 0.793 0.864 0.824 0.571 0.808 0.844 0.781 0.829
 0.739 0.704 0.697 0.595 0.838 0.629 0.316 0.567 0.692 0.974 0.724 0.788
 0.839 0.533 0.707 0.903 0.906 0.78  0.719 0.718 0.593 0.538 0.912 0.651
 0.811 0.675 0.969 0.676 0.694 0.892 0.581 0.559 0.516 0.519 0.577 0.641
 0.429 0.756 0.649 0.656 0.613 0.471 0.879 0.435 0.771 0.814 0.385 0.622
 0.825 0.628 0.48  0.467 0.61  0.478 0.391 0.543 0.548 0.673 0.333 0.448
 0.412 0.886 0.674 0.653 0.35  0.804 0.605 0.576 0.644 0.44  0.617 0.452
 0.568 0.414 0.553 0.552 0.791 0.881 0.438 0.683 0.841 0.464 0.476 0.353
 0.968 0.721 0.143 0.736 0.872 0.86  0.368 0.946 0.83  0.732 0.469 0.919
 0.357 0.878 0.843 0.971 0.558 0.973 0.702 0.766 0.423 0.891 0.523 0.698
 0.761 0.776 0.458 0.689 0.827 0.717 0.658 0.884 0.531 0.634 0.972 0.738
 0.541 0.729 0.515 0.705 0.308 0.59  0.712 0.313 0.66  0.459 0.939 0.902
 0.787 0.659 0.402 0.418 0.454 0.614 0.453 0.442 0.461 0.723 0.575 0.691
 0.389 0.681 0.37  0.74  0.592 0.796 0.822 0.764 0.585 0.2   0.441 0.263
 0.921 0.93  0.176 0.943 0.485 0.635 0.587 0.907 0.537 0.393 0.62  0.484
 0.32  0.851 0.409]
[0.321 0.333 0.433 0.261 0.292 0.462 0.364 0.265 0.297 0.389 0.458 0.29
 0.435 0.419 0.343 0.407 0.192 0.294 0.275 0.353 0.5   0.422 0.325 0.432
 0.429 0.323 0.414 0.308 0.517 0.421 0.316 0.256 0.36  0.367 0.306 0.361
 0.34  0.267 0.467 0.387 0.273 0.395 0.346 0.386 0.48  0.351 0.26  0.4
 0.281 0.45  0.424 0.37  0.529 0.487 0.182 0.238 0.255 0.148 0.396 0.296
 0.324 0.217 0.231 0.342 0.423 0.24  0.259 0.279 0.345 0.25  0.3   0.366
 0.382 0.286 0.485 0.355 0.314 0.344 0.472 0.417 0.167 0.212 0.368 0.452
 0.357 0.356 0.463 0.35  0.385 0.258 0.514 0.229 0.303 0.393 0.375 0.107
 0.348 0.413 0.289 0.27  0.293 0.16  0.457 0.444 0.379 0.184 0.313 0.347
 0.426 0.214 0.415 0.282 0.227 0.515 0.406 0.22  0.244 0.237 0.263 0.447
 0.38  0.276 0.233 0.28  0.194 0.511 0.206 0.216 0.359 0.269 0.318 0.516
 0.371 0.455 0.235 0.257 0.31  0.2   0.548 0.481 0.226 0.383 0.262 0.436
 0.158 0.438 0.412 0.195 0.304 0.425 0.442 0.581 0.268 0.219 0.464 0.32
 0.138 0.295 0.483 0.448 0.405 0.326 0.404 0.593 0.409 0.441 0.243 0.311
 0.352 0.222 0.362 0.242 0.372 0.484 0.394 0.176 0.317 0.341 0.152 0.349
 0.512 0.121 0.378 0.41  0.469 0.288 0.207 0.1   0.154 0.476 0.567 0.278
 0.189 0.391 0.39  0.553 0.576 0.538 0.475 0.528 0.42  0.459 0.354 0.575
 0.381 0.474 0.471 0.535 0.486 0.241 0.531 0.143 0.188 0.271 0.365 0.55
 0.465 0.571 0.208 0.468 0.302 0.171 0.477 0.552 0.478 0.298 0.545 0.533
 0.439 0.556 0.563 0.283 0.46  0.44  0.225 0.489 0.179 0.543 0.542 0.172
 0.479 0.51  0.568 0.163 0.526 0.319 0.373 0.19  0.524 0.522 0.52  0.583
 0.315 0.077 0.205 0.15  0.185 0.224 0.091 0.269 0.378 0.449 0.333 0.394
 0.533 0.458 0.377 0.279 0.343 0.519 0.393 0.636 0.585 0.571 0.125 0.438
 0.464 0.161 0.559 0.323 0.087 0.448 0.327 0.538 0.468 0.404 0.083 0.56
 0.569 0.459 0.194 0.219 0.209 0.488 0.367 0.229 0.564 0.463 0.574 0.186
 0.594 0.432 0.277 0.541 0.588 0.211 0.227 0.339 0.372 0.513 0.586 0.383
 0.548 0.397 0.565 0.59  0.105 0.358 0.431 0.667 0.6   0.156 0.408 0.128
 0.607 0.213 0.189 0.625 0.536 0.094 0.167 0.053 0.071 0.577 0.05  0.579
 0.619 0.133 0.136 0.174 0.095 0.118 0.611 0.643 0.765 0.615 0.111 0.632
 0.63  0.    0.115 0.591 0.067 0.706 0.688 0.103 0.692 0.063 0.778 0.13
 0.652 0.059 0.613 0.696 0.7   0.75  0.682 0.567 0.609 0.65  0.714 0.647
 0.737 0.633 0.622 0.135 0.621 1.    0.12  0.727 0.181 0.153 0.388 0.266
 0.076 0.64  0.8   0.833 0.818 0.857 0.733 0.285 0.142 0.157 0.166 0.187
 0.291 0.392 0.173 0.307 0.23  0.363 0.543 0.68  0.147 0.175 0.309 0.525
 0.129 0.537 0.783 0.196 0.576 0.191 0.08  0.731 0.04 ]
[23. 20. 15. 27. 32. 17. 19. 29. 25. 24. 22. 30. 26. 13. 31. 34. 21. 40.
 18. 28. 16. 38. 36. 14. 12. 33. 35. 37. 39.  9. 41. 11.  8. 10.  7.  5.
  6.  4. 42. 43. 46.]
[44. 37. 46. 47. 36. 38. 45. 39. 40. 43. 29. 41. 42. 35. 50. 56. 49. 30.
 48. 53. 33. 52. 24. 51. 28. 59. 31. 32. 34. 55. 23. 54. 58. 61. 57. 60.
 62. 25. 27. 64. 66. 26. 68. 65. 63. 22. 21. 19. 71. 67. 81. 20.]
[1 0]

Al menos GAME_STATUS_TEXT nos sobra ya que solo tiene un valor unico y no tiene relevancia

In [241]:
df_games = df_games.drop(columns=['GAME_STATUS_TEXT'])
df_games.head()

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Pelicans,Spurs,2022,1610612740,126.0,0.484,0.926,0.382,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Jazz,Wizards,2022,1610612762,120.0,0.488,0.952,0.457,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Cavaliers,Bucks,2022,1610612739,114.0,0.482,0.786,0.313,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,76ers,Pistons,2022,1610612755,113.0,0.441,0.909,0.297,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Hawks,Bulls,2022,1610612737,108.0,0.429,1.000,0.378,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

Selecciono solo la temporada 2022

In [242]:
df_games_2022 = df_games.loc[df_games['SEASON'] == 2022]

Vemos cantidad de filas y columnas del nuevo dataframe seleccionando 2022

In [243]:
df_games_2022.shape

(542, 20)

Guardamos las columnas en una variable llamada variables

In [244]:
variables = list(df_games_2022.columns)
print(variables)

['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS']

Guardamos las variables numericas en una lista y luego creamos otra lista con las mismas variables pero añadiendo norm para saber que están normalizadas

In [245]:
variables_elegidas = ['PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']
variables_elegidas_norm = ['PTS_home_norm', 'FG_PCT_home_norm', 'FT_PCT_home_norm', 'FG3_PCT_home_norm', 'AST_home_norm', 'REB_home_norm', 'PTS_away_norm', 'FG_PCT_away_norm', 'FT_PCT_away_norm', 'FG3_PCT_away_norm', 'AST_away_norm', 'REB_away_norm']

Añadir al dataframe "X" las variables que hemos elegido para entrenar y al "y" el target, esto dirá si gana el equipo local 0 y si gana el visitante 1

In [246]:
X = df_games_2022[variables_elegidas]
y = df_games_2022["HOME_TEAM_WINS"]

Muestra el conjunto de datos de la temporada 2022 y el target

In [247]:
display(X.head())
display(y.head())

,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,126.0,0.484,0.926,0.382,25.0,46.0,117.0,0.478,0.815,0.321,23.0,44.0
1,120.0,0.488,0.952,0.457,16.0,40.0,112.0,0.561,0.765,0.333,20.0,37.0
2,114.0,0.482,0.786,0.313,22.0,37.0,106.0,0.470,0.682,0.433,20.0,46.0
3,113.0,0.441,0.909,0.297,27.0,49.0,93.0,0.392,0.735,0.261,15.0,46.0
4,108.0,0.429,1.000,0.378,22.0,47.0,110.0,0.500,0.773,0.292,20.0,47.0

0    1
1    1
2    1
3    1
4    0
Name: HOME_TEAM_WINS, dtype: int64

Hacemos el split de train y de test, 0.7 y 0.3 respectivamente

In [248]:
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=0.3, random_state=42)

Normalizamos las variables elegidas en train

In [249]:
scaler = prep.MinMaxScaler()
X = scaler.fit_transform(X_train[variables_elegidas])

# Creamos columnas con datos normalizados
X_train[variables_elegidas_norm] = X
# Borramos las variables no normalizadas
X_train = X_train.select_dtypes(include = 'number').drop(variables_elegidas, axis = 1)

In [250]:
X_train.head()

,PTS_home_norm,FG_PCT_home_norm,FT_PCT_home_norm,FG3_PCT_home_norm,AST_home_norm,REB_home_norm,PTS_away_norm,FG_PCT_away_norm,FT_PCT_away_norm,FG3_PCT_away_norm,AST_away_norm,REB_away_norm
440,0.205479,0.390173,0.400,0.367010,0.08,0.441860,0.476190,0.431611,0.881429,0.457471,0.629630,0.684211
247,0.150685,0.095376,0.688,0.228866,0.04,0.581395,0.269841,0.249240,0.682857,0.310345,0.481481,0.578947
434,0.328767,0.410405,0.600,0.162887,0.48,0.372093,0.380952,0.364742,0.735714,0.487356,0.259259,0.763158
57,0.753425,0.580925,0.666,0.703093,0.56,0.511628,0.666667,0.547112,0.841429,0.425287,0.666667,0.421053
234,0.643836,0.861272,0.466,0.758763,0.76,0.488372,0.523810,0.346505,0.354286,0.381609,0.592593,0.552632

Normalizamos test

In [251]:
X = scaler.transform(X_test[variables_elegidas])

# Creamos columnas con datos normalizados
X_test[variables_elegidas_norm] = X
# Borramos las variables no normalizadas
X_test = X_test.select_dtypes(include = 'number').drop(variables_elegidas, axis = 1)

Vemos cuales son las mejores 6 variables correlacionadas con y, también la correlación de todas

In [252]:
selector = SelectKBest(chi2, k=6)

X_select = selector.fit_transform(X_train, y_train)
print(selector.get_feature_names_out())
for var, value in zip(selector.feature_names_in_, selector.scores_):
    print('Variable %s: %.4f' % (var, value))

['PTS_home_norm' 'FG_PCT_home_norm' 'AST_home_norm' 'PTS_away_norm'
 'FG_PCT_away_norm' 'FG3_PCT_away_norm']
Variable PTS_home_norm: 4.3868
Variable FG_PCT_home_norm: 3.7384
Variable FT_PCT_home_norm: 0.3319
Variable FG3_PCT_home_norm: 3.0046
Variable AST_home_norm: 3.0950
Variable REB_home_norm: 0.5436
Variable PTS_away_norm: 5.7462
Variable FG_PCT_away_norm: 3.8130
Variable FT_PCT_away_norm: 0.1706
Variable FG3_PCT_away_norm: 4.5008
Variable AST_away_norm: 2.6714
Variable REB_away_norm: 1.6384

APLICAMOS EL ENTRENAMIENTO DE MODELOS

Empezamos usando regresión logistíca

In [253]:
# Creamos el objeto del modelo con parámetros por defecto, fijando la semilla para evitar aleatoriedad
logreg = LogisticRegression(random_state=42)

# Entrenamos con el conjunto de train y su target
logreg.fit(X_train, y_train)
print('Accuracy en train: ', logreg.score(X_train, y_train))
print('Accuracy en test: ', logreg.score(X_test, y_test))

Accuracy en train:  0.9287598944591029
Accuracy en test:  0.9141104294478528